{% extends 'layout.html' %}

{% block content %}
<h1>Downloads</h1>
<p>The latest version of Propeller is <strong>{{ version }}</strong>. Propeller is featured on PyPi and can be installed with <strong>pip</strong>:</p>
<pre>
    pip install Propeller
</pre>
<p>Propeller can also be downloaded from <a href="https://pypi.python.org/pypi/Propeller">https://pypi.python.org/pypi/Propeller</a>, which also features older versions. For the bleeding edge version of Propeller, see the <a href="https://github.com/bwind/propeller">Github</a> repository.</p>
{% endblock %}
