{% extends 'layout.html' %}

{% block content %}
<h1>Propeller: a lightweight HTTP Framework</h1>
<p><strong>Propeller</strong> is a lightweight, open source HTTP framework written in Python and focuses on quickly writing web apps with minimal effort. Propeller relies on <a href="http://jinja.pocoo.org/docs/">Jinja2</a> for templating. It's pretty fast, too (see <a href="/benchmarks">Benchmarks</a>). Propeller is BSD-licensed.</p>

<p>Propeller doesn't get in your way. It provides a fast, lightweight framework that handles the low level stuff, but doesn't impose object-relational mappers, form validation, upload handling or the like. That's all up to you.</p>

<h2>Hello world</h2>
<p>Writing apps with Propeller is easy and fun:
<pre class="prettyprint linenums no-margin languague-python">
from propeller import Application, RequestHandler, Response

class HomeHandler(RequestHandler):
    def get(self, request):
        return Response('Hello world')

a = Application([
    (r'^/', HomeHandler),
])

if __name__ == '__main__':
    a.run()
</pre>

<h2>Features</h2>
<ul>
    <li>A lightweight, standalone <strong>web server</strong> that automatically <strong>reloads code</strong> during development</li>
    <li><strong>RESTfully dispatches requests</strong> to request handlers</li>
</ul>

<h2>Deploying Propeller</h2>
<p>Typically you will want to set up Propeller behind a reverse proxy such as nginx. For more information, see <a href="/docs">Deploying Propeller</a>.
</p>

<h2>See Propeller in action</h2>
<ul>
    <li>Download the source code of this website</li>
</ul>
{% endblock %}
